a {
   color: rgb(60, 60, 184);
   text-decoration: none;
}
.recipes {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

li {
    margin-bottom: 5px;
}

h1 {
    text-align: center;
}

img {
    margin: auto;
    display: block;
    width: 720px;
    height: auto;
}


